/**
 * Main CSS for Locator.
 */


.locator-container {
	display: flex;
}

.locator-display,
.locator-controls {
  width: 50%;
  padding: 0.5em;
}

#locator-map {
  width: 100%;
  height: 30em;
}

.download-link {
	display: none;
}

.download-link.ready {
	display: inline;
}
